@{
  Layout = "_Layout";
}

<h1>Welcome To Pierre's Bakery!</h1>
<br>

<p>@Html.ActionLink("Create An Account", "Index", "Account")</p>
<p>@Html.ActionLink("See Flavor Options", "Index", "Recipes")</p>
<p>@Html.ActionLink("See Treat Options", "Index", "Recipes")</p>