@{
  Layout = "_Layout";
}

<div class="splash">
<h1>Welcome To Pierre's Bakery!</h1>
<br>

<button>@Html.ActionLink("Log In", "Index", "Log in")</button>
<button>@Html.ActionLink("Create An Account", "Index", "Account")</button>
<button>@Html.ActionLink("See Flavor Options", "Index", "Flavors")</button>
<button>@Html.ActionLink("See Treat Options", "Index", "Treats")</button>

</div>