@{
  Layout = "_Layout";
}

<hi>Welcome To Pierre's Bakery!</hi>


<p>@Html.ActionLink("Create An Account", "Index", "Account")</p>
<p>@Html.ActionLink("See All Flavors", "Index", "Recipes")</p>
<p>@Html.ActionLink("See All Treats", "Index", "Recipes")</p>