@{
  Layout = "_Layout";
}

@using Treats.Models;
@model IEnumerable<Treats.Models.Treat>

<h1>@User.Identity.Name here are your favorite treats:</h1>

@if (Model.Any())
{
  <ol>
    @foreach (Treat treat in Model)
      {
        <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
      }
  </ol>
} 
else
{
  <h3>No treats have been added yet!</h3>
}

<button class="btn btn-dark">@Html.ActionLink("Add a New Treat", "Create")</button>

<button class="btn btn-dark">@Html.ActionLink("Home", "Index", "Home")</button>